/* You can add global styles to this file, and also import other style files */

@import 'variable-styles';

body {
    background: $dark;
    margin: 0;
}

h1 {
    font-size: 36px;
    letter-spacing: 2px;
    margin: 0;
}